<section class="hero">
  <!-- Left Section -->
  <div class="hero-left">
    <h2>FIND WHAT YOU NEED</h2>
    <ul class="category-list">
      <li>
        Audio
        <i
          data-lucide="chevron-right"
          style="width: 17px; height: 17px; color: black"
        ></i>
      </li>
      <li>
        Smartphone
        <i
          data-lucide="chevron-right"
          style="width: 17px; height: 17px; color: black"
        ></i>
      </li>
      <li>
        Wearable
        <i
          data-lucide="chevron-right"
          style="width: 17px; height: 17px; color: black"
        ></i>
      </li>
      <li>
        TV & Home Appliance
        <i
          data-lucide="chevron-right"
          style="width: 17px; height: 17px; color: black"
        ></i>
      </li>
      <li>
        Mobile Accessories
        <i
          data-lucide="chevron-right"
          style="width: 17px; height: 17px; color: black"
        ></i>
      </li>
      <li>
        Computer & Office
        <i
          data-lucide="chevron-right"
          style="width: 17px; height: 17px; color: black"
        ></i>
      </li>
      <li>
        Camera Accessories
        <i
          data-lucide="chevron-right"
          style="width: 17px; height: 17px; color: black"
        ></i>
      </li>
      <li>
        Network Components
        <i
          data-lucide="chevron-right"
          style="width: 17px; height: 17px; color: black"
        ></i>
      </li>
      <li>
        Laptop, Tabs & Notebooks
        <i
          data-lucide="chevron-right"
          style="width: 17px; height: 17px; color: black"
        ></i>
      </li>
    </ul>
    <p class="view-all">View all</p>
  </div>

  <!-- Right Section -->
  <div class="hero-right">
    <div class="hero-right-left">
      <!-- Image Slider -->
      <div id="mySwiperHero" class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="/images/banner1.jpg" alt="Slide 1" />
          </div>

          <div class="swiper-slide">
            <img src="/images/banner4.png" alt="Slide 3" />
          </div>
          <div class="swiper-slide">
            <img src="/images/banner5.png" alt="Slide 4" />
          </div>
          <div class="swiper-slide">
            <img src="/images/banner6.png" alt="Slide 5" />
          </div>
          <div class="swiper-slide">
            <img src="/images/banner7.png" alt="Slide 5" />
          </div>
        </div>
        <!-- Pagination & Navigation Buttons -->
        <div class="swiper-pagination swiper-pagination-hero"></div>
        <div class="swiper-button-next swiper-button-next-hero"></div>
        <div class="swiper-button-prev swiper-button-prev-hero"></div>
      </div>

      <!-- Two Small Images -->
      <div class="small-images">
        <img src="/images/black1.jpg" alt="Ad 1" />
        <img src="/images/black2.jpg" alt="Ad 2" />
      </div>
    </div>
    <div class="hero-right-right">
      <img src="/images/cybermonday.jpg" alt="Full Ad" />
    </div>
  </div>
</section>
