<div class="top_nav">
  <div class="container top_nav_container">
    <div class="top_nav_wrapper">
      <div class="left_section">
        <i
          data-lucide="phone-call"
          style="width: 13px; height: 13px; color: #1455ac"
        ></i>

        <!-- Phone icon -->
        <p>+90-327-5345543</p>
      </div>
      <div class="right_section">
        <select class="dropdown">
          <option value="USD">&#36; USD</option>
          <option value="BDT">&#2547; BDT</option>
        </select>
        <div class="custom-dropdown">
          <img
            id="selected-flag"
            src="https://flagcdn.com/w40/gb.png"
            alt="flag"
            class="flag-icon"
          />
          <select id="language-select" class="dropdown">
            <option value="en" data-flag="https://flagcdn.com/w40/gb.png">
              English
            </option>
            <option value="bn" data-flag="https://flagcdn.com/w40/bd.png">
              বাংলা
            </option>
          </select>
        </div>

        <p class="become_seller">Become a Seller</p>
      </div>
    </div>
  </div>
</div>
